<% if  codes != 0 %>    
    <% if session['coupon'].nil? %>
        <div class="card card-style" style="background-image: url('https://cdn.shopify.com/s/files/1/0212/2668/4516/collections/bigstock-131329163.jpg?v=1596386074&width=2400'); height: 170px;" data-card-height="170">
            <div class="card-top p-3">
                <a href="<%= display_discount_path %>" data-menu="menu-offer" class="btn rounded-s scale-box font-700 text-uppercase float-end font-12 btn btn-m mb-3 rounded-sm text-uppercase font-900 color-highlight bg-theme">SEE CODE</a>
            </div>
            <div class="card-center">
                <div class="bg-white d-inline-block px-4 py-3 ms-n3 rounded-m">
                    <h1 class="ps-2 color-highlight font-24 font-800 mb-n1">Up To 10% Off</h1>
                    <p class="ps-2 color-highlight font-12 mb-0">Automatically Applied At Checkout</p>
                </div>
            </div>
            <div class="card-overlay bg-black opacity-40"></div>
        </div>
    <% end %>
<% else %>
    <div class="card card-style" style="background-image: url('https://media.istockphoto.com/id/1224099406/vector/sold-out-banner-template-sold-out-ribbon-label-sign.jpg?s=612x612&w=0&k=20&c=xGcmHSg4lY3NDaETRUtnP29ggM1SFWFHF8A3hTpscVg='); height: 170px;" data-card-height="170">
            <div class="card-top p-3">
                <a href="#" data-menu="menu-offer" class="btn rounded-s scale-box font-700 text-uppercase float-end font-12 btn btn-m mb-3 rounded-sm text-uppercase font-900 color-highlight bg-theme">You Missed It</a>
            </div>
            <div class="card-center">
                <div class="bg-white d-inline-block px-4 py-3 ms-n3 rounded-m">
                    <h1 class="ps-2 color-highlight font-24 font-800 mb-n1">Sold Out</h1>
                    <p class="ps-2 color-highlight font-12 mb-0">All Coupons Claimed</p>
                </div>
            </div>
            <div class="card-overlay bg-black opacity-40"></div>
        </div>
<% end %>