<div class="header-clear-medium">
  <div data-card-height="cover" class="card">
    <div class="card-center text-center">
        <h1 class="center-text mb-5"><i class="fa fa-3x fa-exclamation-triangle color-red-dark "></i></h1>
        <h6 class="center-text font-800 font-30 mb-4"><%= @status_code %> - ERROR</h6>
        <div class="ps-2 align-self-center">
                   <img src="/assets/chamber-white.jpeg" data-src="/assets/chamber-white.jpeg" width="200" height="200" class="rounded-circle mt-3 shadow-xl preload-img entered loaded" data-ll-status="loaded">
               </div>
    </div>
  </div>
</div>