<div data-card-height="cover" class="card" style="height: 945px;">
  <div class="card-center text-center">
      <h1 class="center-text mb-5"><i class="fa fa-3x fa-exclamation-triangle color-red-dark "></i></h1>
      <h1 class="center-text fa-5x mb-3">BRUHHH</h1>
      <h6 class="center-text font-800 font-30 mb-4"><%= @status_code %> - ERROR</h6>
      <p class="boxed-text-l mb-5 opacity-80 font-20">That Ain't Right</p>
      <p class="boxed-text-s mb-5 opacity-80 font-20 color-highlight">Don't Edit The URLs We Generate</p>

  </div>
</div>