<div class=" header-clear-medium">
  <div class="card card-style">
      <div class="content mb-0">
          <h1 class="font-700 text-uppercase opacity-30 mb-3 mt-n2">Categories</h1>
          <% if current_user&.admin? %>
            <%= link_to 'New Category', new_category_path %>
          <% end %>
          <div class="row mb-3">
              <div class="col-4"><p class="font-14 mb-0 font-800 color-theme text-start">Title</p></div>
              <div class="col-4"><p class="font-14 mb-0 font-800 color-theme text-center">Active</p></div>
              <div class="col-4"><p class="font-14 mb-0 font-800 color-theme text-end">Actions</p></div>
              <div class="divider w-100 mb-2 mt-2"></div>
              <% @categories.each do |category| %>
                <div class="col-4">
                  <p class="font-13 mb-0 font-500 color-theme text-start"><%= category.title %></p>
                </div>
                <div class="col-4">
                  <p class="font-13 mb-0 font-800 color-theme text-center">
                    <% if category.published %>
                      True
                    <% else %>
                      False
                    <% end %>
                  </p>
                </div>
                <div class="col-4">
                  <p class="font-13 mb-0 font-800 color-theme text-end"><%= link_to 'Preview', category %><% if current_user&.admin? %> | <%= link_to 'Edit', edit_category_path(category) %><% end %></p></div>
                <div class="divider w-100 mb-2 mt-2"></div>

              <% end %>

          </div>
      </div>    
  </div>
</div>