<div class="card card-style over-card bg-<%= ['pink','yellow','orange','red','aqua','blue','teal','magenta','sunny','mint', 'pink2','gray', 'grass'].sample %>-dark">
  <div class="content">
    <div class="d-flex">
      <div class="me-auto">
        <h1 class="pt-2 color-white"><%= title %></h1>
        <p class="color-white"><%= message %></p>
      </div>
    </div>
    <br>
    <a href="/how-it-works/?&referredBy=<%= current_user&.present? ? current_user&.uuid : params['referredBy'] %>" class="btn btn-m btn-full mb-3 rounded-sm text-uppercase font-900 color-highlight bg-theme"><i class="font-20 color-highlight px-1 fa fa-info-circle"></i> Learn More</a>
  </div>
</div>