<div class="header-clear-medium">
  <div class="card card-style mt-2">
    <div class="content text-center">
        <h1 class="text-center pb-4"><%= @headlines %></h1>
        <p class="pb-4 mb-n2 font-20">Welcome to Oarlin</p>
        <p class="pb-4 font-16">Are you an Amazon Associate who wants to maximize your earnings with minimum effort? If so, you’ve come to the right place! We’ve created an innovative platform exclusively for Amazon Associates, which can help you generate more commission by automating content creation, promoting products, and more.</p>
    </div>
  </div>
  <div class="card card-style">
      <div class="mt-n2">
          <div class="divider-icon divider-margins bg-gray-dark mx-5 mt-5"><i class="fa fa-gears font-33 mt-n3 color-highlight-dark bg-theme"></i></div>
      </div>
      <div class="content mt-n4 mb-0">
          <h1 class="text-center font-24 pb-4">Automate Forever</h1>
          <p class="text-center mt-n2 boxed-text-s opacity-50 font-16 pb-4">Unlock your full potential when it comes to earning commissions online. We create content online with AI and automatically add in products that are primed for success. Oarlin will fill every link with your unique associates code from Amazon so all these great opportunities turn into real earnings - let us do the automation work while you cash the check.</p>
      </div>
  </div>
  <div class="card card-style">
      <div class="mt-n2">
          <div class="divider-icon divider-margins bg-gray-dark mx-5 mt-5"><i class="fa fa-recycle font-33 mt-n3 color-highlight-dark bg-theme"></i></div>
      </div>
      <div class="content mt-n4 mb-0">
          <h1 class="text-center font-24 pb-4">Limitless Earnings</h1>
          <p class="text-center mt-n2 boxed-text-s opacity-50 font-16 pb-4">Scale your Amazon associate sales with Oarlin! Our platform is available to both free and paid members, with additional commissions exclusively for those on a paid plan. Free and paid memberships allow you to promote an unlimited number of links - perfect if you're looking to get started fast without financial commitments. US affiliates are eligible to earn commission from Oarlin memberships sold to other Amazon associates!</p>
      </div>
  </div>
  <div class="card card-style">
      <div class="mt-n2">
          <div class="divider-icon divider-margins bg-gray-dark mx-5 mt-5"><i class="fa fa-code font-33 mt-n3 color-highlight-dark bg-theme"></i></div>
      </div>
      <div class="content mt-n4 mb-0">
          <h1 class="text-center font-24 pb-4">Custom For You</h1>
          <p class="text-center mt-n2 boxed-text-s opacity-50 font-16 pb-4">Let Oarlin customize the perfect page for your content and audience! You'll enjoy a unique experience tailored just to you and your voice, so that you can achieve desirable conversions without sacrificing convenience! Our developers are ready to work with you every step of the way.  Customize your followers experience and convert more customers while enjoying all of the features we have to offer. Make your page truly stand out from the crowd! </p>
      </div>
  </div>
  <a href="<%= membership_path %>/?&referredBy=<%= current_user&.present? ? current_user&.uuid : params['referredBy'] %>" class='p-2 btn btn-full btn-m font-900 text-uppercase rounded-sm bg-highlight-dark form-control'>Join Oarlin Today</a>
</div>

