
<div class="header-clear-medium">
  <div data-card-height="240" class="card card-style rounded-m shadow-xl preload-img entered loaded" data-src="images/pictures/18w.jpg" data-ll-status="loaded" style="height: 240px; background-image: url(&quot;images/pictures/18w.jpg&quot;);">
      <div class="card-top mt-4 ms-3">
          <h1 class="color-white mb-0 mb-n2 font-22">
            10 CLAIMS
          </h1>
          <p class="bottom-0 color-white opacity-50 under-heading font-11 font-700">PER PERCENTAGE</p>
      </div>
      <div class="card-top mt-4 me-3">
          <a href="<%= new_deposit_path %>" data-menu="menu-add-funds" class="mt-1 float-end text-uppercase font-900 font-11 btn btn-s rounded-s shadow-l bg-highlight">Manage Discounts</a>
      </div>
      <div class="card-center text-center">
          <h1 class="color-white fa-4x">45</h1>
          <p class="color-white opacity-70 font-11 mb-n5">MAX DISCOUNT PERCENTAGE</p>
      </div>
      <div class="card-bottom">
          <p class="ms-3 font-10 font-500 opacity-50 color-white mb-2">34 CLAIMED</p>
      </div>
      <div class="card-bottom">
          <p class="text-end me-3 font-10 font-500 opacity-50 color-white mb-2">450 TOTAL DISCOUNTS</i></p>
      </div>
      <div class="card-overlay bg-black opacity-70"></div>
  </div>
  <div class="d-flex content mb-1">
    <div class="flex-grow-1">
      <h1 class="font-700">Discount Activity</h1>
    </div>
  </div>

</div>