<div class="header-clear-medium">	
	<div class="card card-style">
		<div class="content mb-0">
			<h4>Frequently Asked Questions</h4>
			<p>Here are some of the most common questions before joining Oarlin</p>
		</div>
		<div class="accordion mt-4" id="accordion-6">
			<div class="card card-style shadow-0 bg-highlight mb-1">
				<button class="btn accordion-btn color-white no-effect collapsed" data-bs-toggle="collapse" data-bs-target="#collapse11" aria-expanded="false">
					<i class="fa fa-question me-2"></i>
					How does Trading as a Service with Oarlin work?
					<i class="fa fa-chevron-down font-10 accordion-icon"></i>
				</button>
				<div id="collapse11" class="bg-theme collapse" data-bs-parent="#accordion-6" style="">
					<div class="pt-3 pb-3 color-theme">
						Choose a broker you trust for trading, pick the assets your account will trade, then finally enter your account credentials. Our system will do the rest and execute trades directly in your account
					</div>
				</div>
			</div>
			<div class="card card-style bg-highlight mb-1">
				<button class="btn accordion-btn color-white no-effect collapsed" data-bs-toggle="collapse" data-bs-target="#collapse12" aria-expanded="false">
					<i class="fa fa-question me-2"></i>
					What is trade copying?
					<i class="fa fa-chevron-down font-10 accordion-icon"></i>
				</button>
				<div id="collapse12" class="collapse bg-theme" data-bs-parent="#accordion-6">
					<div class="pt-3 pb-3 color-theme">
						With copy trading, you have full control over your investment amount while effortlessly replicating every trade made by Oarlin. This means that whenever we execute a trade, your account will swiftly follow suit.
					</div>
				</div>
			</div>
			<div class="card card-style bg-highlight mb-1">
				<button class="btn accordion-btn color-white no-effect collapsed" data-bs-toggle="collapse" data-bs-target="#collapse13" aria-expanded="false">
					<i class="fa fa-question me-2"></i>
					What is the difference between Trial Trading and Unlimited Trading ?
					<i class="fa fa-chevron-down font-10 accordion-icon"></i>
				</button>
				<div id="collapse13" class="collapse bg-theme" data-bs-parent="#accordion-6">
					<div class="pt-3 pb-3 color-theme">
						Trial trading will restrict your account to automatically trade only one asset in the given market of your choice. Unlimited trading allows you to trade any number of assets in any number of markets. 
					</div>
				</div>
			</div>

			<div class="card card-style bg-highlight mb-1">
				<button class="btn accordion-btn color-white no-effect collapsed" data-bs-toggle="collapse" data-bs-target="#collapse14" aria-expanded="false">
					<i class="fa fa-question me-2"></i>
					Can I get notifications about my account and trades?
					<i class="fa fa-chevron-down font-10 accordion-icon"></i>
				</button>
				<div id="collapse14" class="collapse bg-theme" data-bs-parent="#accordion-6">
					<div class="pt-3 pb-3 color-theme">
						Absolutely! Enhance your trading experience with our exclusive notifications add-on. Stay in the loop about your trades, exits, entries, and so much more.
					</div>
				</div>
			</div>

			<div class="card card-style bg-highlight mb-1">
				<button class="btn accordion-btn color-white no-effect collapsed" data-bs-toggle="collapse" data-bs-target="#collapse16" aria-expanded="false">
					<i class="fa fa-question me-2"></i>
					Can someone help me setup?
					<i class="fa fa-chevron-down font-10 accordion-icon"></i>
				</button>
				<div id="collapse16" class="collapse bg-theme" data-bs-parent="#accordion-6">
					<div class="pt-3 pb-3 color-theme">
						Of course! We're here to make sure trading is available to all.  We are glad to help you get set up properly. Integrating a funded brokerage account into Oarlin typically takes 3 minutes. 
					</div>
				</div>
			</div>
			<div class="card card-style bg-highlight mb-1">
				<button class="btn accordion-btn color-white no-effect collapsed" data-bs-toggle="collapse" data-bs-target="#collapse17" aria-expanded="false">
					<i class="fa fa-question me-2"></i>
					Will this work with my broker?
					<i class="fa fa-chevron-down font-10 accordion-icon"></i>
				</button>
				<div id="collapse17" class="collapse bg-theme" data-bs-parent="#accordion-6">
					<div class="pt-3 pb-3 color-theme">
						We have the capability to seamlessly integrate with any broker or exchange that offers an API. If you simply search for "[YOUR BROKER] API" on Google, you will likely find a website that provides developer code and instructions. This signifies that we can confidently develop executions for that particular broker.  Please <%= mail_to "team@oarlin.com", "EMAIL US" %> with the broker name and link to the API if we have not created an integration. <br>
						Currently Available For: Kraken & Oanda <br>

						Coming Soon: Tradier, Alpaca, ByBit, Bitget, KuCoin, Metatrader, Binance
					</div>
				</div>
			</div>
			<div class="card card-style bg-highlight mb-1">
				<button class="btn accordion-btn color-white no-effect collapsed" data-bs-toggle="collapse" data-bs-target="#collapse18" aria-expanded="false">
					<i class="fa fa-question me-2"></i>
					When can I withdraw money?
					<i class="fa fa-chevron-down font-10 accordion-icon"></i>
				</button>
				<div id="collapse18" class="collapse bg-theme" data-bs-parent="#accordion-6">
					<div class="pt-3 pb-3 color-theme">
						You can withdraw funds anytime. Because Oarlin executes trades directly into your brokerage account, you have 100% control over your money.
					</div>
				</div>
			</div><div class="card card-style bg-highlight mb-1">
				<button class="btn accordion-btn color-white no-effect collapsed" data-bs-toggle="collapse" data-bs-target="#collapse19" aria-expanded="false">
					<i class="fa fa-question me-2"></i>
					Can i cancel my membership anytime?
					<i class="fa fa-chevron-down font-10 accordion-icon"></i>
				</button>
				<div id="collapse19" class="collapse bg-theme" data-bs-parent="#accordion-6">
					<div class="pt-3 pb-3 color-theme">Yes!</div>
				</div>
			</div>
		</div>
	</div>
</div>