<div class="card card-style" style="background-image: url(&quot;images/photographer3.jpg&quot;); height: 350px;" data-card-height="350">
   <div class="card-bottom p-3">
      <h1 class="color-white font-24 opacity-50">Help Us Grow</h1>
      <h1 class="color-white font-40">Skip Waitlist - <%= params['memberType'] %></h1>
      <p class="color-white opacity-70 pt-3 mb-2"><%= params['interval'].titleize %> Plan</p>
   </div>
   <div class="card-overlay bg-gradient"></div>
</div>
<div class="card card-style">
   <div class="content">
      <h1>Quality Over Quantity<i class="fa fa-info-circle float-end font-16 pt-1 color-blue-dark"></i></h1>
      <p>
         Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec porttitor, ipsum ac posuere accumsan, ipsum magna placerat lectus, id sollicitudin dolor dolor porttitor ex. Integer sed placerat ex. Sed ornare ipsum diam. Donec hendrerit erat quis fermentum faucibus. Nunc bibendum nibh sit amet lorem accumsan, in commodo urna elementum.
      </p>
   </div>
</div>
<div class="card card-style">
   <div class="content">
      <h1>Ideal For<i class="fa fa-trophy float-end font-16 pt-1 color-yellow-dark"></i></h1>
      <p>
         Lorem ipsum dolor sit amet, consectetur elit.
      </p>
      <div class="row text-center mb-0">
         <div class="col-6">
            <i class="fa fa-trophy color-yellow-dark fa-4x mb-3"></i>
            <h6 class="text-uppercase font-700">Best <br> Photographer</h6>
            <p>
               Best Photographer on Envato Awards
            </p>
         </div>
         <div class="col-6">
            <i class="fa fa-certificate fa-4x color-blue-dark mb-3"></i>
            <h6 class="text-uppercase font-700">Best<br>Gallery</h6>
            <p>
               Best Photo Gallery on Envato Awards
            </p>
         </div>
         <div class="col-12 pb-5"></div>
         <div class="col-6">
            <i class="fa fa-award color-red-dark fa-4x mb-3"></i>
            <h6 class="text-uppercase font-700">Best<br>Support</h6>
            <p>
               Best Customer Support on Envato Awards
            </p>
         </div>
         <div class="col-6">
            <i class="fa fa-medal fa-4x color-brown-dark mb-3"></i>
            <h6 class="text-uppercase font-700">Best<br>Updates</h6>
            <p>
               Best Product Updates on Envato Awards
            </p>
         </div>
      </div>
   </div>
</div>

<div class="row text-center mb-0">
   <% if request.user_agent.include?('Mobile') %>
      <a href="index.html" class="col-12" style='pointer-events: none;'>
         <div class="card card-style me-2 mb-2">
            <i class="fa fa-users color-highlight-dark fa-3x mt-5"></i>
            <h1 class="pt-4">Captain Expectations</h1>
            <p class="font-11 opacity-50 mt-n1">To skip the waitlist you agree to uphold all Oarlin standards and recieve continued education related to trading financial markets successfully</p>
            <p><i class="fa fa-check color-green-dark"></i> Single Shooter</p>
            <p><i class="fa fa-check color-green-dark"></i> Video Shooters</p>
            <p><i class="fa fa-check color-green-dark"></i> 100 Photographs</p>
            <p><i class="fa fa-check color-green-dark"></i> 20 Digital Adustments</p>
            <p><i class="fa fa-check color-green-dark"></i> Online Digital Library</p>
         </div>
      </a>
      <a href="index-components.html" class="col-12">
         <div class="card card-style">
             <div class="align-self-center">
               <img src="/assets/Oarlin_free-file.jpg" data-src="/assets/Oarlin_free-file.png" width="90" height="90" class="rounded-circle mt-3 shadow-xl preload-img entered loaded" data-ll-status="loaded">
            </div>
            <h1 class="pt-4">Join Oarlin</h1>
            <p class="font-11 opacity-50 mt-n1">Built to Feel like Apps</p>
            <p class="mb-0 pb-0 font-10 opacity-40">Click To Start</p>
            <div class="list-group list-custom-small">
             
               
           </div>
         </div>
      </a>
   <% else %>
      <a href="index.html" class="col-6" style='pointer-events: none;'>
         <div class="card card-style me-2 mb-2">
            <i class="fa fa-users color-highlight-dark fa-3x mt-5"></i>
            <h1 class="pt-4">Captain Expectations</h1>
            <p class="font-11 opacity-50 mt-n1">To skip the waitlist you agree to uphold all Oarlin standards and recieve continued education related to trading financial markets successfully</p>
            <p><i class="fa fa-check color-green-dark"></i> Single Shooter</p>
            <p><i class="fa fa-check color-green-dark"></i> Video Shooters</p>
            <p><i class="fa fa-check color-green-dark"></i> 100 Photographs</p>
            <p><i class="fa fa-check color-green-dark"></i> 20 Digital Adustments</p>
            <p><i class="fa fa-check color-green-dark"></i> Online Digital Library</p>
         </div>
      </a>
      <a href="index-components.html" class="col-6">
         <div class="card card-style ms-2 mb-3">
             <div class="ps-2 align-self-center">
               <img src="/assets/Oarlin_free-file.jpg" data-src="/assets/Oarlin_free-file.png" width="90" height="90" class="rounded-circle mt-3 shadow-xl preload-img entered loaded" data-ll-status="loaded">
            </div>
            <h1 class="pt-4">Join Oarlin</h1>
            <p class="font-11 opacity-50 mt-n1">Built to Feel like Apps</p>
            <p class="mb-0 pb-0 font-10 opacity-40">Click To Start</p>
            <div class="list-group list-custom-small">
             
               
           </div>
         </div>
      </a>
   <% end %>
</div>