<% catcher =  @prob1.sample %>
<div class="page-content">
  <div class="card" style="background-image: url(/assets/img_9942_original_720.jpg); height: 668px;">
    <div class="card-top mx-3 mt-6">
      <div class="content mb-0 text-center">
      </div>
    </div>
    <div class="card-bottom mb-5 mx-3">
      <div class="content mb-0 text-center">
         <div class="align-self-center">
            <img src="/assets/chamber-white.jpeg" data-src="/assets/chamber-white.jpeg" width="120" height="120" class="rounded-circle mt-3 shadow-xl preload-img entered loaded" data-ll-status="loaded">
         </div>
        <% if request.user_agent.include?('Mobile') %>
           <h1 class="mb-0 font-22 color-white text-center mt-2">Making Black People The Largest</h1>
           <h1 class="mt-2 mb-0 font-16 color-white text-center">Employers of Black People</h1>
        <% else %>
           <h1 class="mb-0 font-30 color-white text-center mt-2">Making Black People The Largest</h1>
           <h1 class="mt-2 mb-0 font-20 color-white text-center">Employers of Black People</h1>
        <% end %> 
      </div>
    </div>
    <div class="card-overlay bg-black opacity-80"></div>
  </div>
</div>